<div id="<%= dom_id instruction %>">
  <p>
    <strong>Description:</strong>
    <%= instruction.description %>
  </p>

  <p>
    <strong>Sub step:</strong>
    <%= instruction.sub_step %>
  </p>

</div>
